$white: #fff;
$black: #000;

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header {
  @include flex(center, center);
  height: fit-content;
  min-height: 100px;
  width: 100%;
  border: 1px solid $black;
  flex-wrap: wrap;
  background-color: $black;

  &-name {
    @include flex(center, center);
    height: 100%;
    width: 30%;
    color: $white;
    text-align: center;
    font-size: clamp(25px, 2vw, 31px);

    p {
      color: $white;
    }

    @media (max-width: 1100px) {
      margin-top: 10px;
    }

    @media (max-width: 421px) {
      width: 100%;
    }
  }

  &-buttons {
    @include flex(center, center);
    height: 100%;
    width: 70%;
    flex-wrap: wrap;

    button {
      margin: 0 1rem;
      background-color: inherit;
      color: $white;
      border: 1px solid $black;
      border-radius: 10px;
      transition: 0.3s;
      padding: 9px 20px;
      font-size: clamp(14px, 2vw, 20px);

      &:hover {
        background-color: $white;
        color: $black;
        border: 1px solid $white;
      }
    }

    @media (max-width: 421px) {
      width: 100%;
      margin: 8px 0;
    }

    .__other {
      margin: 0 1rem;
      background-color: $white;
      color: $black;
      border: 1px solid $black;
      border-radius: 10px;
      transition: 0.3s;
      padding: 9px 20px;
      font-size: clamp(14px, 2vw, 20px);

      &:hover {
        background-color: $black;
        color: $white;
      }
    }

    @media (max-width: 1100px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;
  }
}
