@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header {
  height: 90px;
  width: 100%;
  border: 1px solid black;
  flex-wrap: wrap;
  @include flex(flex, center, center);
  background-color: #000;

  &-name {
    height: 100%;
    width: 30%;
    color: #fff;
    @include flex(flex, center, center);
    text-align: center;
    font-size: 31px;

    @media (max-width: 421px) {
      width: 100%;
    }
  }

  &-buttons {
    height: 100%;
    @include flex(flex, center, center);
    width: 70%;

    button {
      margin: 0 1rem;
      background-color: inherit;
      color: #fff;
      border: 1px solid black;
      border-radius: 10px;
      transition: 0.3s;
      padding: 9px 20px;
      font-size: 20px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    @media (max-width: 421px) {
      width: 100%;
      margin: 8px 0;
    }

    .__other {
      margin: 0 1rem;
      background-color: #fff;
      color: #000;
      border: 1px solid black;
      border-radius: 10px;
      transition: 0.3s;
      padding: 9px 20px;
      font-size: 20px;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
