$white: #fff;
$black: #000;
$color-text: rgba(192, 192, 192, 1);

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.main {
  height: fit-content;
  width: 100%;

  &-banner {
    text-align: center;
    color: $white;
    height: 768px;
    background-image: url('../../img/main/main-banner.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;

    &-text {
      @include flex(center, center);
      flex-direction: column;
      text-align: center;
      width: 100%;

      p {
        font-size: clamp(12px, 2vw, 14px);
        line-height: 20px;
        color: $color-text;
        max-width: 500px;
        padding: 0 16px;
      }

      h1 {
        font-size: 45px;
        padding: 0 8px;
      }
    }
  }

  &-whatwedo {
    width: 100%;
    height: fit-content;
    background-color: $black;
    color: $white;
    padding: 120px;

    p {
      font-size: 14px;
      line-height: 20px;
      color: $color-text;
    }

    h1 {
      font-size: 45px;
    }

    &-container {
      height: fit-content;

      &-text {
        @include flex(none, center);
        flex-direction: column;
      }

      &-blocks {
        width: 100%;
        @include flex(center, none);
        flex-wrap: wrap;

        &-block {
          height: 600px;
          width: 600px;
          margin: 16px;
          position: relative;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          &-text {
            position: absolute;
            width: 100%;
            top: 80%;
            left: 55%;
            transform: translate(-50%, -50%);

            h1 {
              font-size: 14px;
              line-height: 20px;
            }

            p {
              font-size: 14px;
              line-height: 20px;
              width: 90%;
              color: $color-text;
              word-wrap: break-word;
            }

            button {
              height: 42px;
              width: 140px;
              margin-top: 15px;
              border-radius: 14px;
              transition: 0.3s;
              border: 1px solid $white;

              &:hover {
                background-color: inherit;
                color: $white;
                border: 1px solid $white;
              }
            }
          }
        }
      }
    }

    @media (max-width: 700px) {
      padding: 0 16px;
    }
  }

  &-mountain {
    height: 600px;
    width: 100%;
    background-image: url("../../img/main/main-mountain.svg");
    background-size: cover;
    @include flex(end, center);

    &-text {
      width: 300px;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      margin-right: 15px;
    }
  }

  &-tools {
    width: 100%;
    height: 100%;
    display: flex;

    &-left {
      @include flex(center, none);
      flex-direction: column;
      width: 50%;
      background-color: $black;
      color: $white;
      padding: 0 60px;

      h2 {
        @media (max-width: 1000px) {
          margin-top: 10px;
        }
      }

      p {
        color: $color-text;
      }

      button {
        width: 150px;
        height: 42px;
        border-radius: 14px;
        margin-top: 20px;
        transition: 0.3s;
        border: 1px solid $white;

        &:hover {
          background-color: inherit;
          color: $white;
          border: 1px solid $white;
        }

        @media (max-width: 1000px) {
          margin-bottom: 10px;
        }
      }

      @media (max-width: 1000px) {
        width: 100%;
      }
    }

    &-right {
      width: 50%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (max-width: 1000px) {
        width: 100%;
        height: auto;
        max-height: 200px;
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &-leafs {
    width: 100%;
    height: 600px;
    background-image: url("../../img/main/main-leafs.svg");
    background-size: cover;
    @include flex(end, center);

    &-text {
      font-size: 14px;
      line-height: 20px;
      width: 300px;
      margin-right: 15px;

      h1 {
        color: $white;
      }

      p {
        color: $color-text;
        margin-top: 10px;
      }

      @media (max-width: 1200px) {
        left: 10%;
      }
    }
  }

  &-clients {
    @include flex(center, center);
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: $black;

    h1 {
      font-size: 40px;
      color: $white;
    }

    p {
      font-size: 24px;
      color: $color-text;
      text-align: center;
    }
  }

  &-stars {
    width: 100%;
    height: 600px;
    background-image: url('../../img/main/main-stars.svg');
    background-size: cover;
    @include flex(end, center);

    &-text {
      font-size: 14px;
      line-height: 20px;
      width: 300px;
      margin-right: 15px;

      h1 {
        color: $white;
      }

      p {
        color: $color-text;
        margin-top: 10px;
      }

      @media (max-width: 1200px) {
        left: 10%;
      }
    }
  }

  &-needs {
    @include flex(center, center);
    flex-direction: column;
    height: 500px;
    width: 100%;
    background-color: $black;

    h1 {
      font-size: 40px;
      color: $white;
      text-align: center;
    }

    p {
      font-size: 24px;
      color: $color-text;
    }

    button {
      height: 42px;
      width: 150px;
      border-radius: 14px;
      margin-top: 10px;
      transition: 0.3s;
      border: 1px solid $white;

      &:hover {
        background-color: inherit;
        color: $white;
        border: 1px solid $white;
      }
    }
  }
}
